.content-form {
  background-color: #ffffff;
  padding: 100px 0px;
}
.content-form-elem {
  background-color: #f5f5f5;
  max-width: 500px;
  margin: 0 auto;
}
.content-form-elem h4 {
  padding: 30px 30px 0px;
  color: #1cc0a0;
  font-size: 18px;
  font-weight: bold;
}
.content-form-elem .form-item {
  padding-bottom: 20px;
}
.form-item label {
  display: block;
  padding-bottom: 5px;
  font-size: 12px;
}
.content-form form {
  padding: 30px;
}
.form-item input {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  font-size: 13px;
  color: #4f5d77;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  padding: 0px 10px;
}
input::placeholder {
  color: #ebebeb;
  font-size: 12px;
}
.btn-submit {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 40px;
  color: #ffffff;
  border: 1px solid #1cc0a0;
  background-color: #1cc0a0;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.btn-submit:hover {
  background-color: #ffffff;
  color: #1cc0a0;
  border: 1px solid #1cc0a0;
}
.note {
  padding-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}
.note a {
  text-decoration: none;
  color: #1cc0a0;
}
