* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header {
  background-color: #ffffff;
}
.header-top {
  max-width: 1280px;
  margin: 0 auto;
  text-align: right;
  color: #777777;
  position: relative;
  padding: 10px 0px;
}
.header-top::before {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 10px;
  right: 10px;
  background-color: #ebebeb;
}
.header-top a {
  text-decoration: none;
  color: #777777;
  font-size: 14px;
}
.header-top button {
  color: #777777;
  font-size: 14px;
}
.header-top a:hover {
  color: #1cc0a0;
}
.header-between {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-between-logo img {
  width: 100%;
}
.header-between-search {
  display: flex;
  align-items: center;
}
.header-between-search input {
  padding: 10px;
  letter-spacing: 0;
  border: 1px solid #ebebeb;
  background-color: #f8f8f8;
  outline: none;
  width: 650px;
  display: block;
  color: #777777;
}
.header-between-search input::placeholder {
  color: #000000;
}
.header-between-search button {
  background-color: #1cc0a0;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
}
.header-between-search button span {
  padding: 11px 12px;
  display: block;
  color: #ffffff;
}
.header-between-action {
  display: flex;
  align-items: center;
}
.header-between-action-item {
  text-align: center;
  padding: 20px 0px;
  position: relative;
  padding-left: 30px;
}
.header-between-action-item span {
  color: #313f3c;
  font-size: 25px;
  font-weight: 300;
  line-height: 30px;
  margin: 0px 0px 5px;
  text-align: left;
}
.header-between-action-item span:hover {
  color: #1cc0a0;
}
.header-between-action-item p {
  color: #777777;
  font-size: 11px;
  font-weight: 300;
  line-height: 11px;
  text-align: left;
}
/* ////////////////// */
.model-cart {
  position: absolute;
  background-color: #f8f8f8;
  z-index: 10;
  width: 300px;
  right: -1%;
  padding: 20px;
  margin-top: 20px;
  display: none;
}
.header-between-action-item:hover .model-cart {
  display: block;
}
.model-cart-top-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.model-cart-top-item-left {
  text-align: left;
}
.model-cart-top-item-left .total span {
  font-size: 13px !important;
  color: #000000 !important;
}
.model-cart-bottom {
  border-top: 1px solid #ebebeb;
  padding: 10px 0px;
}
.model-cart-bottom-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.model-cart-bottom-heading span {
  font-size: 13px !important;
  color: #000000 !important;
  font-weight: bold;
}
.model-cart-bottom .btn-view-cart {
  background-color: #1cc0a0;
  color: #ffffff;
  padding: 5px 20px;
  font-size: 13px;
  text-decoration: none;
}
/* //////////////// */
.account {
  position: relative;
}
.acount-nav-main-menu {
  position: absolute;
  margin-top: 20px;
  z-index: 30;
  right: 0px;
}
.acount-nav-main-menu-list-item {
  display: inline-block;
  font-size: 12px;
  padding: 5px 17px;
  background-color: #f8f8f8;
  width: 101px;
  display: none;
}
.acount-nav-main-menu-list-item:hover {
  background-color: #1cc0a0;
  color: #ffffff;
}
.account:hover .acount-nav-main-menu-list-item {
  display: block;
}
.header-bottom {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
}
.header-bottom-cate {
  position: relative;
}
.header-bottom-cate:hover .header-bottom-cate-dropdown {
  display: block;
}
.header-bottom-cate-main {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #1cc0a0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  line-height: 21px;
  padding: 15.5px 30px 15.5px 56px;
  text-align: left;
  cursor: pointer;
}
.header-bottom-cate-main a {
  text-decoration: none;
  color: #ffffff;
}
.header-bottom-cate-dropdown {
  position: absolute;
  background-color: #ffffff;
  color: #ffffff;
  width: 100%;
  z-index: 10;
  display: none;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.header-bottom-cate-dropdown ul {
  list-style-type: none;
  padding: 0px 30px 0px 56px;
}
.header-bottom-cate-dropdown ul li {
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0px;
}
.header-bottom-cate-dropdown ul li:last-child {
  border-bottom: none;
}
.header-bottom-cate-dropdown ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
  font-size: 14px;
}
.header-bottom-nav-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.header-bottom-nav-menu li a {
  text-decoration: none;
  color: #ffffff;
}
.header-bottom-sale {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  padding: 15.5px 60px 15.5px 60px;
  border: 1ps;
}
.quantity {
  top: -40px;
  font-size: 10px !important;
  background-color: #1cc0a0;
  color: #ffffff !important;
  position: absolute;
  line-height: 0px !important;
  padding: 8px 5px;
  border-radius: 50%;
  left: 15px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #1cc0a0;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #ffffff;
  color: #1cc0a0;
  border: 1px solid #1cc0a0;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .header-top {
    max-width: 1280px;
    margin: 0 auto;
    text-align: right;
    color: #777777;
    position: relative;
    padding: 10px 10px;
  }
}
